<html>
<head>
    <script src="script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    this is index page
    {{#attributes}}
<p>
    Your email :
    {{email}}
</p>
<p>
    <img src="{{picture}}">
    <button onClick="showVideo()" id="video-button" type="button">동영상 1번 보기</button>
</p>
{{/attributes}}
</body>
</html>